body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding:40px;
}
.in{
    color:burlywood;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol{
    font-size: 20px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    width: 150px;
    margin: 0;
    margin-left: 145px;
    padding: 20px;
    padding-left: 50px;
    padding-top: 36px;
}
#grid #article{
    padding-left: 260px;
    padding-top: 14px;
}
@media(max-width:850px){
    #grid{
    display: block;
}
#grid ol{
    border-right: none;
}
#grid #article{
    padding-left: 35px;
}
}